<div
  class="bg-gray-100 w-[900px] mt-[100px] dark:bg-gray-800 py-8"
  *ngIf="productData"
>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row -mx-4">
      <div class="md:flex-1 px-4">
        <div class="h-[300px] w-[400px] rounded-lg dark:bg-gray-700 mb-4">
          <img
            class="w-[400px] h-[300px] object-contain"
            src="{{ productData.image }}"
            alt="Product Image"
          />
        </div>
      </div>
      <div class="md:flex-1 px-4">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">
          {{ productData.name }}
        </h2>

        <div class="flex mb-4">
          <div class="mr-4">
            <span class="font-bold text-gray-700 dark:text-gray-300"
              >Price:</span
            >
            <span class="text-gray-600 dark:text-gray-300">
              ${{ productData.price }}</span
            >
          </div>
          <div>
            <span class="font-bold text-gray-700 dark:text-gray-300"
              >Availability:
            </span>
            <span class="text-gray-600 dark:text-gray-300"> In Stock</span>
          </div>
        </div>

        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Select Color:</span
          >
          <div class="flex items-center mt-2">
            <button
              class="w-8 h-8 rounded-full mr-2 border border-gray-300"
              style="background-color: {{ productData.color }}"
            ></button>
          </div>
        </div>

        <div>
          <span class="font-bold text-gray-700 dark:text-gray-300"
            >Product Description:</span
          >
          <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
            {{ productData.description }}
          </p>
        </div>
        <div class="flex -mx-2 mb-4">
          <div class="w-1/2 px-2">
            <button
              class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700"
            >
              Buy Now
            </button>
          </div>
          <div class="w-1/2 px-2">
            <button
            (click)="addToCart()"
              class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600"
            >
              Add to Cart
            </button>
          </div>
        </div>
        <div class=" flex items-center text-center !ml-[100px] justify-center max-w-[10rem]">
          <button
            type="button"
            id="decrement-button"
            data-input-counter-decrement="quantity-input"
            class="bg-gray-100  hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 "
            (click)="handleQunatity('plus')"
          >
            
            <svg
              class="w-3 h-3 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 18"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 1v16M1 9h16"
              />
            </svg>
          </button>
          <input
            type="text"
            id="quantity-input"
            data-input-counter
            aria-describedby="helper-text-explanation"
            class="bg-gray-50 border-x-0 border-gray-300 h-11 w-[100px] text-center  text-gray-900 text-sm block py-2.5"
            required
            value={{productQuantity}}
          />

          <button
            type="button"
            class="bg-gray-100 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11"
            (click)="handleQunatity('min')"
          >
           <svg
              class="w-3 h-3 text-gray-900 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 18 2"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h16"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
