<nav class="bg-white border-blue-700 dark:bg-blue-700">
  <div
    class="max-w-[1800px] flex flex-wrap items-center justify-between mx-auto "
  >
    <!-- 1. E-Commerce Title -->
    <div class="text-5xl font-semibold text-blue-700 dark:text-white">
      <a routerLink="/"> E-Commerce </a>
    </div>

    <!-- 2. Search Bar -->
    <div class="flex">
      <!-- Desktop Search -->
      <div class="relative hidden md:block" *ngIf="menuType === 'default'">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-blue-700 dark:text-blue-700"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input
          type="text"
          id="search-navbar"
          class="block w-[950px] p-2 ps-5 text-sm text-blue-700 border border-blue-700 rounded-lg  "
          placeholder="Search..."
        />
      </div>
    </div>

    <!-- 3. Menu Bar -->
    <div [ngSwitch]="menuType">
      <ul
        *ngSwitchCase="'default'"
        class="flex flex-col p-4 md:p-0 mt-4 font-medium text-2xl rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            routerLink="/seller-auth"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            >Seller</a
          >
        </li>
        <li>
          <a
            routerLink="/home"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            aria-current="page"
            >Home</a
          >
        </li>

        <li>
          <a
            href="#"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            >Login</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            >Cart(0)</a
          >
        </li>
      </ul>

      <ul
        *ngSwitchCase="'seller'"
        class="flex flex-col p-4 md:p-0 mt-4 font-medium text-2xl rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
      <li>
          <a
            routerLink="/home"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            routerLink="/seller-add-product"
            >Add Product</a
          >
        </li>
        <li>
          <a
            routerLink="/seller-auth"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            >List</a
          >
        </li>
        

        <li>
          <a            
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0 cursor-pointer"
            (click)="Logout()"
            >LogOut</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-blue-700 rounded-sm md:hover:text-red-700 md:p-0"
            >{{sellerName | titlecase}}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
