<section class="bg-gray-50 dark:bg-gray-900 myimage">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-[1140px]"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold text-center text-gray-900 md:text-2xl dark:text-white"
        >
          Add New Product
        </h1>
        <div class="text-center text-green-700 text-xl">{{productMsg}}</div>
        <form class="space-y-4 md:space-y-6" #updateProduct="ngForm" (ngSubmit)="submit(updateProduct.value)">
          <div>
            <input
              type="name"
              name="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Name"
              ngModel="{{productData?.name}}"
            />
          </div>
          <div>
            <input
              type="text"
              name="price"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Price"
              required
              ngModel="{{productData?.price}}"
            />
          </div>
          <div>
            <input
              type="text"
              name="color"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Color"
              required
              ngModel="{{productData?.color}}"
            />
          </div>
          <div>
            <input
              type="text"
              name="category"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Category"
              ngModel="{{productData?.category}}"
            />
          </div>
          <div>
            <textarea
              type="text"
              name="description"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Description"
              ngModel="{{productData?.description}}"
            ></textarea>
          </div>
          <div>
            <input
              type="text"
              name="image"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Enter Product Image URL"
              ngModel="{{productData?.image}}"
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer"
          >
            Update Product
          </button>
          
        </form>
      </div>

    
    </div>
  </div>
</section>
