<!-- <div class="my-orders">
  <h1>My Orders</h1>
  <div class="row">
    <div class="col-sm-2">
      <span>Orders</span>
    </div>
    <div class="col-sm-2">
      <span>Order Id</span>
    </div>
    <div class="col-sm-2">
      <span>Price</span>
    </div>
    <div class="col-sm-2">
      <span>Status</span>
    </div>
    <div class="col-sm-2">
      <span>Cancel Order</span>
    </div>
  </div>
  <div class="row" *ngFor="let order of orderData">
    <div class="col-sm-2">
      <img
        class="order-img h-[80px] w-[100px] p-2"
        src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png"
        alt=""
      />
    </div>
    <div class="col-sm-2">
      <span>#{{ order.id }}</span>
    </div>
    <div class="col-sm-2">
      <span>{{ order.totalPrice }}</span>
    </div> 
    <div class="col-sm-2">
      <span>In Progress</span>
    </div>
    <div class="col-sm-2">
      <button
        (click)="cancelOrder(order.id)"
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        Cancel Order
      </button>
    </div>
  </div>
</div> -->

<table class="min-w-full divide-y divide-gray-200 text-xl">
  <thead>
    <tr>
      <th
        scope="col"
        class="px-6 py-3 text-start text-xl font-medium text-gray-500 uppercase"
      >
        Order
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-start text-xl font-medium text-gray-500 uppercase"
      >
        Order Id
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-start text-xl font-medium text-gray-500 uppercase"
      >
        Price
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-start text-xl font-medium text-gray-500 uppercase"
      >
        Status
      </th>
      <th
        scope="col"
        class="px-6 py-3 text-start text-xl font-medium text-gray-500 uppercase"
      >
        Cancel Order
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="odd:bg-white even:bg-gray-100 hover:bg-gray-100"
      *ngFor="let item of orderData"
    >
      <td class="px-6 py-4 whitespace-nowrap text-xl text-gray-800">
        <img
          class="order-img h-[80px] w-[100px] p-2"
          src="https://www.clipartmax.com/png/middle/210-2106541_track-my-order-beach-volleyball.png"
          alt=""
        />
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-xl text-gray-800">
        {{ item.id }}
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-xl text-gray-800">
        {{ item.totalPrice }}
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-xl text-gray-800">
        In Progress
      </td>
      <td>
        <button
          (click)="cancelOrder(item.id)"
          class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Cancel Order
        </button>
      </td>
    </tr>
  </tbody>
</table>
